rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /profiles/{uid}/{allPaths=**} {
      allow read: if true;
      allow write: if false;
    }

    match /qr/{allPaths=**} {
      allow read: if true;
      allow write: if false;
    }

    match /payment-qr/{uid}/{allPaths=**} {
      allow read: if true;
      allow write: if false;
    }

    match /commerce-products/{uid}/{allPaths=**} {
      allow read: if true;
      allow write: if false;
    }

    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
